<ion-header>
  <ion-toolbar>
    <ion-title>Login Screen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="cont">
  <div id="backdrop">
  <div class="flex-center">
    <!-- <img src="../../../assets/background.gif"/> -->
  <ion-card>
    <ion-card-header>
      <ion-card-title color="success">Please LogIn your details</ion-card-title>
      
    </ion-card-header>
  
    <ion-card-content>  
      <form #loginform="ngForm">  
      <ion-item>
        <ion-label>Email input</ion-label>
        <ion-input type="email" placeholder="email@domain.com" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,4}$"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Password input</ion-label>
        <ion-input type="password" value="password" required></ion-input>
      </ion-item>
      <ion-button color="dark" expand="block" id="forgot" (click)="btnClicked()" >Forget Email</ion-button>
      <ion-button color="dark" expand="block" (click)="btnEmail()">LogIn</ion-button>
    </form>
    </ion-card-content>
  </ion-card>
  </div>
</div>
</ion-content>
